// Styles

// Main styles

@import './bootstrap.scss';
@import './app.scss';

// Shreyu Icons
@import './icons.scss';

.cl {
    display: flex;
    justify-content: flex-end;
}
.authentication-bg{
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
    background-image: url(https://static3.toyotabharat.com/images/homepage/banners/new-innova-crysta-banner-1920x807.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px, 50% 50%;
}
.mt2to.card {
    width: 1100px;
    margin: 0 auto;
}
span.badge.bg-warning {
    font-size: 15px;
    font-weight: 900;
}
.card-header.bg-danger.text-white {
    font-size: 15px;
    font-weight: 900;
}
.cdl{
    font-weight: 900;
}
.card-header.bg-danger.text-white {
    background: #e30611 !important;
}
.p-3.media {
    display: flex;
    justify-content: space-between;
}
.custom-control.custom-checkbox {
    display: flex;
    justify-content: space-between;
}
label {
    font-weight: 500 !important;
}
.page-title {
    padding: 20px 0;
}
span.badge.bg-success {
    font-size: 15px;
    font-weight: 900;
}
.grop{
    max-height: 729px;
    overflow-y: scroll;
}